# Всі файли та каталоги, що стосуються локальної розробки
.idea/
.vscode/
*.iml
*.log

# Локальні файли конфігурації
config/local/

# Локальні файли для тестів
test/local/

# Кеш та тимчасові файли
.cache/
.tmp/

# Файли налаштувань розробки
*.bak
*.swp

# Зображення та медіафайли, якщо вони генеруються локально
*.jpg
*.jpeg
*.png
*.gif
# Ігнорувати файли середовища
.env
# Локальна історія команд Git
.git-commands.log

# Кеш npm та Yarn
node_modules/
yarn-error.log